@page "/"

<PageTitle>Index</PageTitle>

<p>
    <label>
        What is your favorite weekday?: 
        <select @onchange="SelectedCarsChanged" multiple>
            <option value="Mondy">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
    </label>
</p>

<p>
    Favorite Weekday: @string.Join(", ", selectedDays)
</p>

@code {
    private string[] selectedDays = new string[] { };

    private void SelectedCarsChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            selectedDays = (string[])e.Value;
        }
    }
}