<h1>Amphibians</h1>

<ul>
    <li>Cold blooded</li>
    <li>Lay eggs</li>
    <li>Can breath under water (at least at one stage of the lifecycle)</li>
</ul>

<p>Examples include frogs and salamanders.</p>
