<h1>Birds</h1>

<ul>
    <li>Covered in feather</li>
    <li>Most species (but not all) can fly</li>
    <li>Lay eggs</li>
    <li>Warm blooded</li>
</ul>

<p>Examples include sparrows, penguins, hawks, hens, etc.</p>
