<h1>Fishes</h1>

<ul>
    <li>Cold blooded</li>
    <li>Typically are covered in scales</li>
    <li>Lay eggs in large numbers</li>
    <li>Have fins instead of arms and legs</li>
    <li>Cannot breath outside water</li>
</ul>

<p>Examples include sharks, carps, mudskippers, etc.</p>
