<h1>Mammals</h1>

<ul>
    <li>Warm blooded</li>
    <li>Give live birth</li>
    <li>Cannot breath under water</li>
    <li>Produce milk to feed offspring</li>
</ul>

<p>Examples include humans, cows, cats, dogs, etc.</p>
